SERVER_URL=
SERVER_PORT=8080

DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI=postgresql://evolution:CHANGE_ME@postgres:5432/evolution

DATABASE_SAVE_DATA_INSTANCE=true
DATABASE_SAVE_DATA_NEW_MESSAGE=true
DATABASE_SAVE_MESSAGE_UPDATE=true

CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://redis:6379/1
CACHE_REDIS_PREFIX_KEY=evolution
CACHE_LOCAL_ENABLED=false

//generate random key -> openssl rand -hex 32 
AUTHENTICATION_API_KEY=

LANGUAGE=en